.App {
  text-align: center;
}

.App-logo {
  margin-top: -72px;
}

.App-header {
  background-color: #5cc2ba;
  height: 50px;
  padding: 20px;
  color: black;
}

.App-footer{
  height: 100px;
  background-color: #5cc2ba;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  width: 100%;
  /* height: 300px; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
