.App {
  text-align: center;
  background-color: #efe5c8;
}

.App-logo {
  display: flex;
  margin-top: -72px;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  background-color: #5cc2ba;
  height: 60px;
  padding: 20px;
  color: black;
}

.App-footer{
  height: 100px;
  background-color: #5cc2ba;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  width: 100%;
}

.card-display {
  height: 300px;
}

.buttons{
  background-color: #5a43d9;
  height: 30px;
  width: 50px;
  color: white;
  border: solid #8d7af5;
  border-radius: 5px;
}

.create-button{
  background-color: #5a43d9;
  height: 30px;
  width: 100px;
  color: white;
  border: solid #8d7af5;
  border-radius: 5px;
  font-size: 12px;
}

.add-save-buttons{
  display: flex;
  justify-content: space-evenly;
  padding-left: 200px;
  padding-right: 200px;
}

.add-save{
  background-color: #5a43d9;
  height: 30px;
  width: 50px;
  color: white;
  border: solid #8d7af5;
  border-radius: 5px;
  width: 100px;
}

.display-buttons{
  background-color: #5a43d9;
  height: 40px;
  width: 60px;
  color: white;
  border: solid #8d7af5;
  border-radius: 5px;
}

.greeting {
  color: #5a43d9;
}

.home-page {
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #5a43d9;
}

.new-card-page {
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #5a43d9;
}

.ui.input>input{
  background: rgba(222, 216, 216, 0.47);
  border: 2px solid #8d7af5bd;
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  height: 2em;
  width: 200px;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
