.App {
  text-align: center;
  background-color: #efe5c8;
}

.App-logo {
  display: flex;
  margin-top: -72px;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  background-color: #5cc2ba;
  height: 50px;
  padding: 20px;
  color: black;
}

.App-footer{
  height: 100px;
  background-color: #5cc2ba;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  width: 100%;
}

.card-display {
  height: 300px;
}

.footer {
  height: 200px;
  background-color: #5cc2ba;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-button {
  background-color: #5a43d9;
  border: solid #8d7af4;
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 5px;
}

.buttons{
  background-color: #6b58d3;
  height: 30px;
  width: 50px;
  color: white;
  border: solid #8d7af5;
  border-radius: 5px;
}

.display-buttons{
  background-color: #6b58d3;
  height: 40px;
  width: 60px;
  color: white;
  border: solid #8d7af5;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
