.card-footer {
  /* margin-top: 200px; */
  display: flex;
  background-color: #5cc2ba;
  align-items: center;
  height: 150px;
}

.card {
  color: white;
  width: 7%;
  height: 100px;
  margin: 0 5px;
  border-radius: 10px;
  line-height: 100px;
  background-color: #5a43d9;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}


.display-card{
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: flex-end;
  justify-content: space-around;
  margin-right: 10em;
  margin-left: 10em;
  margin-bottom: 85px;
}

.card-dimensions{
  height: 100%;
  width: 18%;
  border: solid 2px #8d7af5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #6544d8;
  color: white;
}

.checkmark{
  height: 80px;
  box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.47);
  border-radius: 5px;
}

.checkmark:hover {
  box-shadow: none;
}

.checkmark img {
  height: 75px;
  border: solid 3px #8d7af5;
  background-color: #6544d8;
  border-radius: 5px;
}

.footer {
  height: 200px;
  background-color: #5cc2ba;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.edit-button {
  background-color: #5a43d9;
  border: solid #8d7af4;
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 5px;
}
