.card-footer {
  margin-top: 200px;
  display: flex;
  background-color: #5cc2ba;
  align-items: center;
  height: 150px;
}

.card {
  /* border: solid 1.5px; */
  /* border-color: black; */
  color: white;
  width: 7%;
  height: 100px;
  margin: 0 5px;
  border-radius: 10px;
  line-height: 100px;
  background-color: #5a43d9;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

}

.display-card{
  height: 200px;
}
